<div class="container-fluid h-100">

    <!-- Row 1 of 3 -->
    <div class="row"> <div class="col-md-12 " style="background-color: grey;"> Commander: {{commander.commanderName}} </div> </div>
    <div class="row"> <div class="col-md-12 " style="background-color: grey;"> Prestige: {{commander.commanderPrestige}}</div> </div>
    <div class="row"> <div class="col-md-12 " style="background-color: grey;"> level: {{commander.commanderXP}} </div> </div> <!-- if lvls are constant, then just divide by xp by lvl, else use a func to calculate lvl based on xp-->
  
    <!-- Row 2 of 3 -->
    <div class="row">
        <!-- Show this when side menu button isn't pressed-->
        <div class="col-md-12" style="background-color: black;">
                <p style="color: white;">Moving background space (black bacground with white dots moving one direction to simulate movement) </p> 
        </div>
        <!-- Show this when side menu button is pressed -->
        <!--
            <div class="col-md-2" style="background-color: black;">sidebar on left</div>
            <div class="col-md-10" style="background-color: black;">main screen background with stars</div>
        -->
    </div>

    <!-- Row 3 of 3 -->
    <div class="row">
        <div class="col-md-12" style="background-color: grey;">
            
                Clickable buttons (armoury, logout, prestige shop, etc)
            
        </div>
        <div class="col" style="background-color: grey;"> <button (click) = "handleNavigation('armory')">Armory</button> </div>
        <div class="col" style="background-color: grey;"> <button (click) = "handleNavigation('prestige')">Prestige</button> </div>
        <div class="col" style="background-color: grey;"> <button (click) = "handleNavigation('encounter')">Encounter</button> </div>
        <div class="col" style="background-color: grey;"> <button (click) = "handleNavigation('logout')">Logout</button> </div>
    </div>
        
  </div>