<div class = "container-fluid">
    <div class = "row">
        <div class = "card">

            <div class="card-header">
                <h1>{{options[formCardIndex].formName}} FORM DUMMY</h1>
            </div>

            <div class="card-body">

                <!-- BELOW IS LOGIN FORM -->
                <form [formGroup]="loginForm" (ngSubmit)= "login()" class="form" *ngIf="formCardIndex==0">
                    <div class= "form-group">
                        <label for="userName">Username</label>
                        <input type="text" class="form-control" id="userName" formControlName="userName" placeholder="Enter username">
                    </div>
                    <div class= "form-group">
                        <label for="password">password</label>
                        <input type="text" class="form-control" id="password" formControlName="password" placeholder="Enter password">
                    </div>
                    <button type="submit" [disabled] = "loginForm.invalid">Board Ship</button>
                    <p> {{ loginForm.value | json }} </p>
                    <p> form.userName: {{ loginForm.userName }} </p>
                    <p> Commander: {{ commander | json }} </p>
                    <p> Commander: {{ commander?.commanderXP }} </p>
                    <p> Commander: {{ commander?.unitDTOList | json}} </p>
                    <!-- Format for accessing commander: {{commander?.keyName}}-->
                    <!-- If your key is accessing a list of things it will return Object ojbect. To fix this add {{ commander.keyName | json}}-->
                    <p *ngIf= "validUser">Valid User</p>
                </form>

                <!-- Below is Update Form-->
                <form [formGroup]="updateForm" (ngSubmit)= "updatePassword()" class="form" *ngIf="formCardIndex==1">
                    <div class= "form-group">
                        <label for="userName">Username</label>
                        <input type="text" class="form-control" id="userName" formControlName="userName" placeholder="Enter username">
                    </div>
                    <div class= "form-group">
                        <label for="password">password</label>
                        <input type="text" class="form-control" id="password" formControlName="password" placeholder="Enter password">
                    </div>
                    <div class= "form-group">
                        <label for="rePassword">enter new password</label>
                        <input type="text" class="form-control" id="newPassword" formControlName="newPassword" placeholder="Enter password">
                    </div>
                    <div class= "form-group">
                        <label for="newPassword">re-enter new password</label>
                        <input type="text" class="form-control" id="reNewPassword" formControlName="reNewPassword" placeholder="Re-enter new password">
                    </div>
                    <button type="submit" [disabled] = "updateForm.invalid">Change Spacecraft Access Code</button>
                    <p> {{ updateForm.value | json }} </p>
                    <p *ngIf= "validUser">Valid User</p>
                </form>

                <!-- BELOW IS register FORM -->
                <form [formGroup]="registerForm" (ngSubmit)= "registerCommander()" class="form" *ngIf="formCardIndex==2">
                    <div class= "form-group">
                        <label for="commanderName">Choose your commander name</label>
                        <input type="text" class="form-control" id="commanderName" formControlName="commanderName" placeholder="Enter your commander's name">
                    </div>
                    <div class= "form-group">
                        <label for="commanderPassword">choose password</label>
                        <input type="text" class="form-control" id="commanderPassword" formControlName="commanderPassword" placeholder="Enter password">
                    </div>
                    <div class= "form-group">
                        <label for="reCommanderPassword">re-enter choosen password</label>
                        <input type="text" class="form-control" id="reCommanderPassword" formControlName="reCommanderPassword" placeholder="re-enter choosen password">
                    </div>
                    <button type="submit" [disabled] = "registerForm.invalid">Start Voyage</button>
                    <p> {{ registerForm.value | json }} </p>
                    <!-- Format for accessing commander: {{commander?.keyName}}-->
                    <!-- If your key is accessing a list of things it will return Object ojbect. To fix this add {{ commander.keyName | json}}-->
                    <p *ngIf= "validUser">Valid User</p>
                </form>

            </div>

            <button type="button" (click)="toggleUpdateAndLogin()"> {{btnText}} </button>

        </div>
    </div>
</div>
