<div class="row">
    <div class="col-12">
        <br>
        
            <h5 *ngIf="successMessage!=null && successMessage!=''" class="success-message">
                {{successMessage}}
            </h5>
            <h5 *ngIf="errorMessage!=null && errorMessage!=''" class="error-message">
                {{errorMessage}}
            </h5>
          <br>
    </div>
    <div class="card-deck">
        <div class="card bg-light">
            <div style="width: 250px; height: 250px; text-align: center;">
                <img class="card-img-top" *ngIf="this.selectedUpgrade.type == 'close'" [src]="'assets/resources/sdf_stock_ship.png'"
                    alt="Image Not Found" onError="this.src='assets/resources/sdf_close_fallback.jpg'" style="max-width: 100%; max-height: 100%;">
                <img class="card-img-top" *ngIf="this.selectedUpgrade.type == 'long'" [src]="'assets/resources/sdf_stock_ship.png'"
                    alt="Image Not Found" onError="this.src='assets/resources/sdf_long_fallback.jpg'" style="max-width: 100%; max-height: 100%;">
                <img class="card-img-top" *ngIf="this.selectedUpgrade.type == 'shield'" [src]="'assets/resources/sdf_stock_ship.png'"
                    alt="Image Not Found" onError="this.src='assets/resources/sdf_shield_fallback.jpg'" style="max-width: 100%; max-height: 100%;">
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="offset-md-3">
                        <button class="btn btn-warning " *ngIf="this.parent == 'shop'">Buy</button> <!-- Only visible if parent is shop-->
                        <button class="btn btn-warning " *ngIf="this.parent == 'bag'">Sell</button> <!-- Only visible if parent is bag -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card ">
        <div class="text-left text-black">
            <h4>
                <ins>Upgrade: {{selectedUpgrade.modelName}}</ins>  <!--title -->
            </h4>
        </div>
        <table class="table table-borderless text-black">
            <tr>
                <th>
                    <span class="text-muted">Type:</span>
                </th>
                <td>
                    {{selectedUpgrade.type}}
                </td>
            </tr>
            <tr>
                <th>
                    <span class="text-muted">Score:</span>
                </th>
                <td>
                    {{selectedUpgrade.score}}
                </td>
            </tr>
            <tr *ngIf="this.parent == 'shop'">
                <th >
                    <span class="text-muted">Prestige cost: </span>
                </th>
                <td>
                    {{selectedUnit.prestigeCost}}
                </td>
            </tr>
        </table>

    </div>


</div>